<!-- wp:template-part {"slug":"header","theme":"minimalistix","tagName":"header"} /-->

<!-- wp:pattern {"slug": "minimalistix/header-image-with-text"} /-->

<!-- wp:pattern {"slug": "minimalistix/author-introduction"} /-->

<!-- wp:pattern {"slug": "minimalistix/instagram-image-feed-section"} /-->


<!-- wp:group {"style":{"spacing":{"padding":{"top":"60px","bottom":"60px"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group" style="padding-top:60px;padding-bottom:60px"><!-- wp:query {"queryId":15,"query":{"perPage":"3","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"displayLayout":{"type":"flex","columns":3},"layout":{"type":"default"}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:post-featured-image {"isLink":true,"style":{"border":{"radius":"2px"},"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}}} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"15px","bottom":"60px","left":"15px"}}},"layout":{"type":"constrained","justifyContent":"left"}} -->
<div class="wp-block-group" style="padding-top:0px;padding-right:15px;padding-bottom:60px;padding-left:15px"><!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"5px","bottom":"0px"}},"typography":{"fontSize":"26px"}}} /-->

<!-- wp:post-date {"style":{"spacing":{"margin":{"top":"15px","bottom":"15px"}},"typography":{"fontSize":"16px"}}} /-->

<!-- wp:post-excerpt {"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}},"typography":{"fontSize":"16px"}},"textColor":"secondary"} /-->

<!-- wp:read-more {"content":"CONTINUE READING","style":{"spacing":{"padding":{"top":"10px","right":"20px","bottom":"10px","left":"20px"}},"typography":{"fontSize":"14px","letterSpacing":"1px"}},"backgroundColor":"contrast","textColor":"base"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"minimalistix","tagName":"footer"} /-->